/* .root{
  text-align: center;
} */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* .container {
  border-style: dashed;
  display: flex;
  align-items: center;
} */

.tile-slot {
  border-style: solid;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  background-color: cornflowerblue;
}

#grid {
  margin-left: auto;
  margin-right: auto;
}

#letter-bank {
  margin-left: auto;
  margin-right: auto;
}

#reshuffle-button {
  width:100px;
  height:50px;
  font-size: 100%;
}
